[Unit]
Description=Download and process GFS data for Fluid Earth
OnFailure=fev2r-email@%n.service

[Service]
Type=oneshot
WorkingDirectory=/export/data/fev2r/repository
ExecStart=/usr/bin/npm run data:gfs
TimeoutStartSec=2h 50min
