[Unit]
Description=Attempt to update OSCAR data hourly

[Timer]
# TODO: convert to "OnCalendar=*-*-* XX:00" once we determine "XX" from logs
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
