[Unit]
Description=Update GEOS data 4 times a day

[Timer]
# Based on https://gmao.gsfc.nasa.gov/GMAO_products/F5.21.2FPTimeline.pdf
# starting with the 0Z run
OnCalendar=*-*-* 06:30
OnCalendar=*-*-* 10:30
OnCalendar=*-*-* 17:30
OnCalendar=*-*-* 22:30
Persistent=true

[Install]
WantedBy=timers.target
