[Unit]
Description=Download and process GEOS data for Fluid Earth
OnFailure=fev2r-email@%n.service

[Service]
Type=oneshot
WorkingDirectory=/export/data/fev2r/repository
ExecStart=/usr/bin/npm run data:geos
