[Unit]
Description=Fluid Earth Tera Data File Generator
RequiresMountsFor=/export/data/fev2r/repository /usr/local/bin/npm
After=nss-user-lookup.target

[Service]
User=gravina.2
Group=outreach
UMask=0002
WorkingDirectory=/export/data/fev2r/repository
Environment=UV_THREADPOOL_SIZE=16
ExecStart=/usr/local/bin/npm run tera
Restart=on-failure

[Install]
WantedBy=multi-user.target
