[Unit]
Description=Fluid Earth Tera Data File Generator

[Service]
Group=outreach
UMask=0002
WorkingDirectory=/export/data/fev2r/repository
Environment=UV_THREADPOOL_SIZE=16
ExecStart=/usr/bin/npm run tera
Restart=on-failure

[Install]
WantedBy=multi-user.target
