[Unit]
Description=Fluid Earth Tera Data File Generator
RequiresMountsFor=/home/zqianem/fluid-earth /usr/bin/npm
After=nss-user-lookup.target

[Service]
User=zqianem
Group=wxfever
UMask=0002
WorkingDirectory=/home/zqianem/fluid-earth
Environment=UV_THREADPOOL_SIZE=8
ExecStart=/usr/bin/npm run tera
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
