html {
  /* based on GitHub's system font stack */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  background-color: black;
}

p {
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
}

sup {
  line-height: 0;
}

/* Modified from https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  margin-left: -5em;
  border-radius: 50%;
  border: 0.5em solid #202124;
  border-top-color: #015b5b;
  animation: spinner 1s linear infinite;
}
