@font-face{
  font-family: 'Quicksand-regular';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'Quicksand-bold';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
}

html {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  background-color: black;
}

/* Modified from https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  margin-left: -5em;
  border-radius: 50%;
  border: 0.5em solid #202124;
  border-top-color: #015b5b;
  animation: spinner 1s linear infinite;
}
